name: Build
on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

jobs:
  thx:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
        os: [macOS-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install
        run: |
          pip install -U pip -r requirements.txt
          pip install .
      - name: Test
        run: thx --live test
      - name: Lint
        run: thx --live lint
